@import "tailwindcss";



@layer components {
        .cell {
            width: 166px; 
            height: 166px; 
            padding: 1rem; 
            border: 1px solid #fff; 
            transition: all 0.5s;
            cursor: pointer; 
            font-size: 90px;
            text-align: center;
        }
    
        .cell:hover {
            background-color: #625341; 
        }
        #msg {
            position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: 32px;
        background-color: #221E1B;
        color: #EAE0D5;
        border-radius: 0.75rem;
        text-align: center;
        font-size: 2rem;
        display: none
}
        #msg.show{
            display:block
        }
    }
