@import "tailwindcss";



@layer components {
        .cell {
            width: 166px; 
            height: 166px; 
            padding: 1rem; 
            border: 1px solid #fff; 
            transition: all 0.5s;
            cursor: pointer; 
            font-size: 90px;
            text-align: center;
        }
    
        .cell:hover {
            background-color: #625341; 
        }
    }
